@import "../../../data/styles.css";

.homepage-socials {
  display: flex;
  justify-content: left;
  align-items: center;
}

.homepage-social-icon {
  padding-right: 20px;
  font-size: 25px;
  transition: color 0.2s ease-in-out;
  color: var(--secondary-color);
}

.homepage-social-icon:hover {
  color: var(--tertiary-color);
}

@media (max-width: 600px) {
  .homepage-socials {
    padding-top: 20px;
  }
}
