.about-banner-container {
  width: 120%;
}

.about-banner-wrapper {
  padding-top: 4%;
  padding-bottom: 4%;
  display: flex;
  justify-content: center;
}

.about-banner-wrapper img {
  overflow: hidden;
  width: 80%;
  display: block;
}

@media (max-width: 800px) {
  .about-banner-container {
    width: 100%;
  }
}
