@import "../../data/styles.css";
.socials{
  display: flex;
}

.socials-column {
  flex-basis: 50%;
}

.social {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
}

.social a {
  text-decoration: none;
}

.social-icon {
  color: var(--secondary-color);
  display: flex;
  width: 35px;
}

.social-text {
  color: var(--secondary-color);
  margin-top: -2px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
}

.social-icon:hover {
  color: var(--tertiary-color);
}

.social-text:hover {
  color: var(--tertiary-color);
}

.email-address::before {
  content: "";
  display: block;
  padding-top: 20px;
  border-top: 3px solid var(--tertiary-color);
  margin-top: 20px;
}
