.projects-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding-top: 120px;
}

@media (max-width: 600px) {
  .projects-container {
    padding-top: 60px;
  }

  .projects-project {
    width: calc(100% / 2);
  }
}
