form {
  padding: 0.8rem;
}

form div {
  padding-top: 10px;

}

input {
  height: 30px;
  width: 50%;
}

textarea {
  width: 50%;
}

span {
  padding-right: 10px;
}

button {
  width: 100px;
  height: 1.8rem;
  background-color: var(--tertiary-color);
  color: white;
}
